/* ------------------------------- */
/* Reset */
/* ------------------------------- */

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------------------------------------------------------------------------------- */

/* ------------------------------- */
/* Custom Properties */
/* ------------------------------- */

:root {
  --container-desktop: 1000px;
  /* --container-mobile: 375px; */

  --crl--primary: hsl(212, 23%, 69%);
  --crl--dark: hsl(217, 19%, 35%);
  --crl--light: hsl(210, 46%, 95%);
  --crl--desat: hsl(214, 17%, 51%);
  --clr--white: hsl(0, 0%, 100%);

  --fs-400: 0.8125rem;
  --fs-500: 1rem;
  --fs-900: 1.75rem;

  --fw-500: 500;
  --fw-700: 700;

  --ff-sans-serif: "Manrope", sans-serif;

  /* card */

  --card-radius: 20px;

  --content-padding-top: 2.5rem;
  --content-padding-bottom: 2.5rem;
  --content-padding-left: 3.5rem;
  --content-padding-right: 2.5rem;
  --content-padding-top-mobile: 2.5rem;
  --content-padding-bottom-mobile: 1.5rem;
  --content-padding-left-mobile: 2.5rem;
  --content-padding-right-mobile: 2.5rem;

  --avatar-margin-right: 1.5rem;
}

/* ------------------------------- */
/* Utilities */
/* ------------------------------- */

.container {
  max-width: var(--container-desktop);
  width: 95%;
  margin-inline: auto;
}

.hidden {
  display: none !important;
}
/* text */
.text-primary {
  color: var(--crl--primary);
}
.text-dark {
  color: var(--crl--dark);
}
.text-light {
  color: var(--crl--light);
}
.text-desat {
  color: var(--crl--desat);
}
/* bg */
.bg-primary {
  background: var(--crl--primary);
}
.bg-dark {
  background: var(--crl--dark);
}
.bg-light {
  background: var(--crl--light);
}
.bg-desat {
  background: var(--crl--desat);
}
.bg-white {
  background: var(--clr--white);
}

/* typography */
.ff-sans-serif {
  font-family: var(--ff-sans-serif);
}
/* font size */
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-700 {
  font-weight: var(--fw-700);
}
/* transforms */
.uppercase {
  text-transform: uppercase;
}

/* spacing */

.letter-spacing-large {
  letter-spacing: 5px;
}

/* display */

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

/* ------------------------------- */
/* Components */
/* ------------------------------- */

.card {
  border-radius: var(--card-radius);
  filter: drop-shadow(2px 4px 17px hsl(214deg 17% 51% / 24%));
}

.card figure {
  height: 100%;
}

.card .image img {
  border-radius: var(--card-radius) 0 0 var(--card-radius);

  height: 100%;
  object-fit: cover;
}

.card .content {
  padding: var(--content-padding-top) var(--content-padding-right)
    var(--content-padding-bottom) var(--content-padding-left);
}

.card .title {
  max-width: 27ch;
  margin-bottom: 1.25rem;
}

.card .text {
  max-width: 70ch;
  margin-bottom: 1.5rem;
}

.card .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: var(--avatar-margin-right);
}

.card .share-btn {
  margin-left: 1rem;

  position: relative;

  min-width: 50px;
  height: 50px;

  border-radius: 50%;
  border-width: 0;
  background: var(--crl--light);

  cursor: pointer;
}

.card .share-btn svg {
  fill: var(--crl--desat);
  width: 24px;
}

.card .share-btn:hover,
.card .share-btn:focus {
  background: var(--crl--desat);
}

.card .share-btn:hover svg,
.card .share-btn:focus svg {
  fill: var(--crl--light);
}

/* Share hover block */

.card .share {
  position: absolute;
  bottom: 5rem;

  left: 50%;
  transform: translateX(-50%);

  width: max-content;

  padding: 1.35rem 1rem;
  border-radius: 15px;
}

.card .share::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: var(--crl--dark);
  position: absolute;
  transform: translate(-50%, 50%) rotate(45deg);
  bottom: 0;
  left: 50%;
}

.card .share > * {
  padding: 0 1rem;
}

.card .share-mobile {
  display: none;
}

/* ------------------------------- */
/* Media Queries */
/* ------------------------------- */

@media (max-width: 1200px) {
  .card .share {
    transform: none;
    left: unset;
    right: 0;
  }
  .card .share::after {
    left: unset;
    right: 0;
    transform: translate(-65%, 43%) rotate(45deg);
  }
}

@media (max-width: 640px) {
  .card {
    flex-direction: column;
  }

  .card .image img {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
  }

  .card .content {
    padding: var(--content-padding-top-mobile)
      var(--content-padding-right-mobile) var(--content-padding-bottom-mobile)
      var(--content-padding-left-mobile);
  }

  .card .share {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* display: none; */
    justify-content: unset;
    border-radius: 0 0 15px 15px;
  }

  .card .share::after {
    display: none;
  }
}
